<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <form action="/chats" method="POST">
        <input name="from" placeholder="From:" type="text">
        <br>
        <textarea name="msg" placeholder="Enter the msg here" type="text"></textarea>
        <br>
        <input name="to" placeholder="To:" type="text">
        <br>
        <button>Create</button>

    </form>
    
</body>
</html>